<div id="footer">
    <div class="container">
        <footer class="py-3 my-4">
            <div id="top_footer">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <img style="justify-content: left;" src="images/footer logo.png" width="120" role="img"></img>
                    </a>
                </div>
                <div class="nav_buttons_footer">
                    <a href="#" class="footer_button">Home</a>
                    <a href="#" class="footer_button">Features</a>
                    <a href="#" class="footer_button">FAQs</a>
                    <a href="#" class="footer_button">Contact</a>
                </div>
            </div>
            <div id="bottom_footer">
                <p>© 2024 Supplify, Inc. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>