<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="images/header logo.png" width="160" role="img"></img>
      </a>
    </div>

    <ul class="nav col-12 col-md-7 mb-2 justify-content-end mb-md-0">
      <div class="nav_buttons">
        <li><a href="#" class="nav-link px-2">Home</a></li>
        <li><a href="#" class="nav-link px-2">Features</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">Contact</a></li>
      </div>
    </ul>

    <div class="log_buttons">
      <button id="register_button" type="button" class="btn btn-primary">Register</button>
      <button id="login_button" type="button" class="btn btn-primary">Login</button>
    </div>
  </header>
</div>