<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <!-- introduction -->
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis mb-4">Sharing for <span id="smarter">smarter</span> tomorrows</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4 intro-text">Turn your extra school supplies into someone’s essentials! Donate easily through Supplify, help people in need, and unlock exciting achievements as you give back.</p>
              <div class="d-flex gap-2 d-sm-flex justify-content-center">
                <button type="button" class="btn learn-more-btn btn-dark btn-lg px-4 mb-5 gap-3">Learn More</button>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="25" viewBox="0 0 44 25" fill="none">
                <path d="M41.2227 0L43.875 2.6532L22 24.6094L0.125 2.6532L2.76367 0L22 19.2902L41.2227 0Z" fill="#333333"/>
              </svg>
            </div>
        </div>
    </div>

    <!-- our mission -->
    <div class="main-mission-container">
        <div class="mission-container">
        <h2 class="display-5 fw-bold text-body-emphasis mb-4">Our mission</h2>
        <div class="row px-5 g-4 py-5 row-cols-1 row-cols-lg-5 column-gap-3">
            <div class="feature col mission-card rounded pb-4">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 pt-4 ms-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.46 14.24L41.18 13.74C40.8188 13.1354 40.3094 12.6329 39.7 12.28L26.28 4.54C25.6724 4.1875 24.9826 4.00124 24.28 4H23.7C22.9974 4.00124 22.3076 4.1875 21.7 4.54L8.28 12.3C7.67394 12.6505 7.17052 13.1539 6.82 13.76L6.54 14.26C6.1875 14.8677 6.00124 15.5575 6 16.26V31.76C6.00124 32.4626 6.1875 33.1524 6.54 33.76L6.82 34.26C7.17958 34.859 7.68098 35.3604 8.28 35.72L21.72 43.46C22.3246 43.8198 23.0164 44.0066 23.72 44H24.28C24.9826 43.9988 25.6724 43.8126 26.28 43.46L39.7 35.7C40.312 35.3574 40.8174 34.852 41.16 34.24L41.46 33.74C41.8082 33.1306 41.9942 32.442 42 31.74V16.24C41.9988 15.5375 41.8126 14.8477 41.46 14.24ZM23.7 8H24.28L36 14.76L24 21.68L12 14.76L23.7 8ZM26 39L37.7 32.24L38 31.74V18.22L26 25.16V39Z" fill="black"/>
                </svg>
              </div>
              <h3 class="fs-2 text-body-emphasis fw-bold ms-2">Why Donate with Supplify?</h3>
              <p class="ms-2">Support those in need effortlessly.</p>
              <a href="#" class="icon-link ms-2">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="black"/>
                  </svg>
              </a>
            </div>
            <div class="feature col mission-card rounded pb-4">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 pt-4 ms-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="45" viewBox="0 0 46 45" fill="none">
                    <g clip-path="url(#clip0_51_876)">
                      <path d="M19.25 36.5625H15.5C15.2514 36.5625 15.0129 36.6613 14.8371 36.8371C14.6613 37.0129 14.5625 37.2514 14.5625 37.5V40.3125C14.5625 40.8098 14.76 41.2867 15.1117 41.6383C15.4633 41.99 15.9402 42.1875 16.4375 42.1875H19.25C19.7473 42.1875 20.2242 41.99 20.5758 41.6383C20.9275 41.2867 21.125 40.8098 21.125 40.3125V38.4375C21.125 37.9402 20.9275 37.4633 20.5758 37.1117C20.2242 36.76 19.7473 36.5625 19.25 36.5625Z" fill="black"/>
                      <path d="M30.5 36.5625H26.75C26.2527 36.5625 25.7758 36.76 25.4242 37.1117C25.0725 37.4633 24.875 37.9402 24.875 38.4375V40.3125C24.875 40.8098 25.0725 41.2867 25.4242 41.6383C25.7758 41.99 26.2527 42.1875 26.75 42.1875H29.5625C30.0598 42.1875 30.5367 41.99 30.8883 41.6383C31.24 41.2867 31.4375 40.8098 31.4375 40.3125V37.5C31.4375 37.2514 31.3387 37.0129 31.1629 36.8371C30.9871 36.6613 30.7486 36.5625 30.5 36.5625Z" fill="black"/>
                      <path d="M8 6.5625H10.8125C11.0611 6.5625 11.2996 6.46373 11.4754 6.28791C11.6512 6.1121 11.75 5.87364 11.75 5.625V2.8125C11.75 2.31522 11.5525 1.83831 11.2008 1.48667C10.8492 1.13504 10.3723 0.9375 9.875 0.9375H8C7.50272 0.9375 7.02581 1.13504 6.67417 1.48667C6.32254 1.83831 6.125 2.31522 6.125 2.8125V4.6875C6.125 5.18478 6.32254 5.66169 6.67417 6.01333C7.02581 6.36496 7.50272 6.5625 8 6.5625Z" fill="black"/>
                      <path d="M35.1875 6.5625H38C38.4973 6.5625 38.9742 6.36496 39.3258 6.01333C39.6775 5.66169 39.875 5.18478 39.875 4.6875V2.8125C39.875 2.31522 39.6775 1.83831 39.3258 1.48667C38.9742 1.13504 38.4973 0.9375 38 0.9375H36.125C35.6277 0.9375 35.1508 1.13504 34.7992 1.48667C34.4475 1.83831 34.25 2.31522 34.25 2.8125V5.625C34.25 5.87364 34.3488 6.1121 34.5246 6.28791C34.7004 6.46373 34.9389 6.5625 35.1875 6.5625Z" fill="black"/>
                      <path d="M45.5 19.6875C45.5 19.1902 45.3025 18.7133 44.9508 18.3617C44.5992 18.01 44.1223 17.8125 43.625 17.8125H40.8125C40.5639 17.8125 40.3254 17.7137 40.1496 17.5379C39.9738 17.3621 39.875 17.1236 39.875 16.875V13.125C39.875 12.6277 39.6775 12.1508 39.3258 11.7992C38.9742 11.4475 38.4973 11.25 38 11.25H35.1875C34.9389 11.25 34.7004 11.1512 34.5246 10.9754C34.3488 10.7996 34.25 10.5611 34.25 10.3125V8.4375C34.25 7.94022 34.0525 7.46331 33.7008 7.11167C33.3492 6.76004 32.8723 6.5625 32.375 6.5625H29.5625C29.0652 6.5625 28.5883 6.76004 28.2367 7.11167C27.885 7.46331 27.6875 7.94022 27.6875 8.4375V10.3125C27.6875 10.5611 27.5887 10.7996 27.4129 10.9754C27.2371 11.1512 26.9986 11.25 26.75 11.25H19.25C19.0014 11.25 18.7629 11.1512 18.5871 10.9754C18.4113 10.7996 18.3125 10.5611 18.3125 10.3125V8.4375C18.3125 7.94022 18.115 7.46331 17.7633 7.11167C17.4117 6.76004 16.9348 6.5625 16.4375 6.5625H13.625C13.1277 6.5625 12.6508 6.76004 12.2992 7.11167C11.9475 7.46331 11.75 7.94022 11.75 8.4375V10.3125C11.75 10.5611 11.6512 10.7996 11.4754 10.9754C11.2996 11.1512 11.0611 11.25 10.8125 11.25H8C7.50272 11.25 7.02581 11.4475 6.67417 11.7992C6.32254 12.1508 6.125 12.6277 6.125 13.125V16.875C6.125 17.1236 6.02623 17.3621 5.85041 17.5379C5.6746 17.7137 5.43614 17.8125 5.1875 17.8125H2.375C1.87772 17.8125 1.40081 18.01 1.04917 18.3617C0.697544 18.7133 0.5 19.1902 0.5 19.6875L0.5 33.75C0.5 34.4959 0.796316 35.2113 1.32376 35.7387C1.85121 36.2662 2.56658 36.5625 3.3125 36.5625C4.05842 36.5625 4.77379 36.2662 5.30124 35.7387C5.82868 35.2113 6.125 34.4959 6.125 33.75V28.125C6.125 27.8764 6.22377 27.6379 6.39959 27.4621C6.5754 27.2863 6.81386 27.1875 7.0625 27.1875H8.9375C9.18614 27.1875 9.4246 27.2863 9.60041 27.4621C9.77623 27.6379 9.875 27.8764 9.875 28.125V33.75C9.875 34.4959 10.1713 35.2113 10.6988 35.7387C11.2262 36.2662 11.9416 36.5625 12.6875 36.5625C13.4334 36.5625 14.1488 36.2662 14.6762 35.7387C15.2037 35.2113 15.5 34.4959 15.5 33.75V30C15.5 29.7514 15.5988 29.5129 15.7746 29.3371C15.9504 29.1613 16.1889 29.0625 16.4375 29.0625H29.5625C29.8111 29.0625 30.0496 29.1613 30.2254 29.3371C30.4012 29.5129 30.5 29.7514 30.5 30V33.75C30.5 34.4959 30.7963 35.2113 31.3238 35.7387C31.8512 36.2662 32.5666 36.5625 33.3125 36.5625C34.0584 36.5625 34.7738 36.2662 35.3012 35.7387C35.8287 35.2113 36.125 34.4959 36.125 33.75V28.125C36.125 27.8764 36.2238 27.6379 36.3996 27.4621C36.5754 27.2863 36.8139 27.1875 37.0625 27.1875H38.9375C39.1861 27.1875 39.4246 27.2863 39.6004 27.4621C39.7762 27.6379 39.875 27.8764 39.875 28.125V33.75C39.875 34.4959 40.1713 35.2113 40.6988 35.7387C41.2262 36.2662 41.9416 36.5625 42.6875 36.5625C43.4334 36.5625 44.1488 36.2662 44.6762 35.7387C45.2037 35.2113 45.5 34.4959 45.5 33.75V19.6875ZM16.4375 19.6875C16.4375 19.9361 16.3387 20.1746 16.1629 20.3504C15.9871 20.5262 15.7486 20.625 15.5 20.625H13.625C13.3764 20.625 13.1379 20.5262 12.9621 20.3504C12.7863 20.1746 12.6875 19.9361 12.6875 19.6875V17.8125C12.6875 17.5639 12.7863 17.3254 12.9621 17.1496C13.1379 16.9738 13.3764 16.875 13.625 16.875H15.5C15.7486 16.875 15.9871 16.9738 16.1629 17.1496C16.3387 17.3254 16.4375 17.5639 16.4375 17.8125V19.6875ZM33.3125 19.6875C33.3125 19.9361 33.2137 20.1746 33.0379 20.3504C32.8621 20.5262 32.6236 20.625 32.375 20.625H30.5C30.2514 20.625 30.0129 20.5262 29.8371 20.3504C29.6613 20.1746 29.5625 19.9361 29.5625 19.6875V17.8125C29.5625 17.5639 29.6613 17.3254 29.8371 17.1496C30.0129 16.9738 30.2514 16.875 30.5 16.875H32.375C32.6236 16.875 32.8621 16.9738 33.0379 17.1496C33.2137 17.3254 33.3125 17.5639 33.3125 17.8125V19.6875Z" fill="black"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_51_876">
                        <rect width="45" height="45" fill="white" transform="translate(0.5)"/>
                      </clipPath>
                    </defs>
                </svg>
              </div>
              <h3 class="fs-2 text-body-emphasis fw-bold ms-2">Unlock Achievements as You Give</h3>
              <p class="ms-2">Earn badges and rewards for your contributions.</p>
              <a href="#" class="icon-link ms-2">
                Sign Up
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="black"/>
                  </svg>
              </a>
            </div>
            <div class="feature col mission-card rounded">
              <div class="col-md-6">
                    <img src="https://www.kinf.org/wp-content/uploads/2021/01/EJN0YSxWkAEtMqW.jpg" class="img-fluid rounded-start" alt="Image">
              </div>
              <div class="col-md-6">
                <h4 class="fs-5 text-body-emphasis">Impact</h4>
                <h3 class="fs-2 text-body-emphasis fw-bold">Give Resources, Spark Potential</h3>
                <p>Turn your extra school supplies into educational opportunities.</p>
                <a href="#" class="icon-link">
                    Get Started
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="black"/>
                    </svg>
                </a>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="donation-guidelines">
        <h2 class="display-5 fw-bold text-body-emphasis mb-4 pt-5">Donation Guidelines</h2>
        <div class="row row-cols-lg-12 motto-donation py-5 my-3">
            <h3 class="text-center motto-donation-text">The right way to donate.</h3>
        </div>
        <div class="container text-center">
            <div class="row my-5">
              <div class="col">
                <h3>Donate Only Accepted School Supplies</h3>
                <p>Please donate school supplies that are in good, usable condition. This includes notebooks, pens, pencils, backpacks, rulers, and other basic educational materials. We cannot accept damaged or unusable items.</p>
              </div>
              <div class="col">
                <h3>Check the Map Before You Drop</h3>
                <p>Please donate school supplies that are in good, usable condition. This includes notebooks, pens, pencils, backpacks, Always use the in-app map to locate the nearest available drop-off point. If a location is full, please choose another nearby spot to avoid overfilling.</p>
              </div>
            </div>
            <div class="row my-5">
                <div class="col">
                  <h3>Be Respectful to Others</h3>
                  <p>We are fostering a positive community of givers. Please show respect to fellow users and staff at donation points, and report any issues through our contact form.</p>
                </div>
                <div class="col">
                  <h3>Respect Donation Locations</h3>
                  <p>Help us keep the pick-up points clean and organized. Drop supplies in the designated containers, and refrain from leaving items outside of those areas.</p>
                </div>
              </div>
          </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>