* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #DFE7FC;
}

.main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.8;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 81.95%, #DFE7FC 99.05%, #DFE7FC 100.86%), linear-gradient(0deg, rgba(227, 235, 255, 0.00) 0%, #B0CBFF 90.9%), url("https://s3-alpha-sig.figma.com/img/cb46/4952/df68850f6eb20d81d04761fd4d57b6fb?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PF5aOpukkNzNrJSqG3N5HsbIGJTRrPQ8pEq3e~O1ZgwjSxruIEFNGM6P2R2ZZ7zCDwt5hewD6OMo5V3198ZteoeCLuef98DHwfKmAewH-HjShDPpXGt9Mb7mZ2GgcIW8t4lBXfHdYPmF1oualkeRUlMlL-OXVwgwh0AjCJYI93D~UN2g0Bb8jQ-GT9iiVdyuJ9gmbzg184-cMx0K7MRSECZD7OHG6I97o0Wfuq8Ixz5K3bMLwkT2a84kWpbUaQzrk6GUNEP1Xf7iP5P-WV6kKLmaY4JIwwCPIilI8Fg0ZRpcKVvN9eYNGeTmskDmST1E-cR2uikePHsbUkaukAfA1Q__") lightgray 50% / cover no-repeat;
}

#smarter {
    background: linear-gradient(90deg, #5A8ECC 0%, #4675C1 49.9%, #37A2BF 57.4%, #6198D1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120.999%;
}

.intro-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.learn-more-btn {
    border-radius: 0.875rem;
    background: var(--Dark, #191A23);
    display: flex;
    padding: 20px 26px;
    align-items: flex-start;
    gap: 0.625rem;
}

.log_buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#register_button {
    padding: 8px 10px;
    border-radius: 15px;
    border: 1px solid #60588a;
    background: #D9E2FC;
    color: #325dde;
}

#login_button {
    padding: 8px 10px;
    border-radius: 15px;
    border: 1px solid #60588a;
    background: #325dde;
    color: #D9E2FC;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    color: #191A23;
}

.nav-link {
    color: #191A23;
}

.main-mission-container {
    margin-top: 5rem;
}

.mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-image {
    width: 70%;
    height: 50%;
}

.mission-card {
    background: #C7D7F7;
}

.donation-guidelines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.motto-donation {
    border-radius: 0.625rem;
    background: linear-gradient(90deg, #C7D7F7 25.9%, #37A2BF 100%);
    width: 85%;
}

.motto-donation-text {
    font-family: "Walter Turncoat";
    font-size: 2rem;
}

#footer {
    width: 100%;
    background-color: #191A23;
    min-height: 30vh;
    margin-top: 5vh;
}

#top_footer {
    display: flex;
    flex-direction: row;
}

#bottom_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #C7D7F7;
    margin-top: 10px;
    font-size: 10px;
}

.nav_buttons_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    border-bottom: 1px solid #a7b3cc;
}

.footer_button {
    padding: 5px;
    text-decoration: none;
    color: #f1f6ff;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-bottom: 10px;
}

.footer_button:hover {
    color: #6994da;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact{
    background: #C7D7F7;
}